:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: ALight; /*ay 2esm bra7ty*/
  src: url(../public/fonts/Alexandria-ExtraLight.ttf);
}
@font-face {
  font-family: ARegular;
  src: url(../public/fonts/Alexandria-Regular.ttf);
}
